<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Software and Hardware engineer. M.Sc at Polimi, Summer school at Stanford, B.Sc at Polimi"/>
        <meta name="author" content="Giacomo Parmeggiani">

        <link type="text/plain" rel="author" href="humans.txt" />

        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
        <link rel="icon" href="/favicon.ico" type="image/x-icon">

        <title>GIACOMO PARMEGGIANI</title>

        {{> partials/common_css }}
    </head>
    <body id="page-top" class="home">
        {{> partials/navigation_home }}

        <!-- Header section -->
        <header class="masthead text-center">
            <div class="container">
                <img class="myself img-fluid mb-5 d-block mx-auto" src="static/img/giacomo.jpg" alt="">
                <h1 class="text-uppercase mb-0">
                    Hello!<br>
                    <span class="typed"></span>
                </h1>
                <hr>
                <h2 class="font-weight-light mb-0">Software and Hardware engineer</h2>
            </div>
        </header>

        <!-- About Section -->
        <section class="mb-0" id="about">
            <div class="container">
                <h2 class="text-center text-uppercase">About</h2>
                <div class="row mt-5">
                    <div class="col-lg-12 ml-auto">
                        <p>
                            My name is <b>Giacomo Parmeggiani</b> and <b>I was born with the passion for technology</b> and electronics:
                            When I was a kid, my mom used to prepare me homemade easter eggs filled with electrical wires, plugs and switches: those where my toys!
                            My dad also supported me in my passion, even though he knows nothing about technology: roughly at the age of ten, he bought me my first soldering iron so that I could start building my first electrical circuits.
                        </p>
                        <p>
                            I grew up spending my free time designing and building electrical circuits and developing all sorts of software.
                            This <b>passion</b> led me to enroll at <b>Polytechnic University of Milan</b>, where I first got my B.Sc. and
                            then the M.Sc. in <b>Electronics Engineering</b>.
                        </p>
                        <p>
                            I'm also extremely passionate about creating things that people can use and seeing the impact that have on their lives. This brought me to <a href="https://summer.stanford.edu/" target="_blank">Stanford Univeristy</a> for the summer session, where I studied <b>Technology Entrepreneurship</b>.<br>
                            During that summer, <a href="/projects/bespecular.html" target="_blank">BeSpecular</a> was born, which is an app to help blind people live a more independent life.
                        </p>
                        <p>
                            After having launched the app, I joined <a href="http://www.azcomtech.com" target="_blank">Azcom Technology</a> as a <b>Software Engineer</b>. Initially, I worked on the implementation in C of some low level signal processing algorithms for the NB-IoT and 4G-LTE standards. Then, I started working for the H2020 5G-PPP Project named <a href="http://5g-coral.eu/" target="_blank">5G-CORAL</a>, where I completely designed and developed the <b>connected cars</b> testbed demo which aims at demonstrating how the <b>Edge and Fog Computing</b> can help improve the road safety. You can find more details in the project's <a href="http://5g-coral.eu/?page_id=37">deliverables</a>.<br>
                            Currently, I'm leading the development of a <b>sensor fusion</b> software which improves the location estimation of a vehicle by combining the GPS receiver's data with the speed measurement (via the OBD-II port) and the accelerometer/gyroscope. Check out my portfolio for more details on this.
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <!-- Portfolio -->
        <section class="bg-light" id="portfolio">
            <div class="container">
                <div class="row mb-4">
                    <div class="col-lg-12 text-center">
                        <h2 class="section-heading text-uppercase">Portfolio</h2>
                        <h3 class="section-subheading text-muted">These are some of the projects I've been working on</h3>
                    </div>
                </div>

                <div class="row">
                    {{#projects}}
                    {{^draft}}
                    <div class="col-md-4 col-sm-6 portfolio-item">
                        <a class="portfolio-link" href="/projects/{{id}}.html">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content">
                                    <i class="fas fa-search fa-3x"></i>
                                </div>
                            </div>
                            {{#image}}
                            <img class="img-fluid" src="/static/img/portfolio/{{image}}" alt="">
                            {{/image}}
                        </a>
                        <div class="portfolio-caption">
                            <a href="/projects/{{id}}.html">
                                <h4>{{title}}</h4>
                            </a>
                            <p class="text-muted">{{{subtitle}}}</p>
                        </div>
                    </div>
                    {{/draft}}
                    {{/projects}}
                </div>
            </div>
        </section>

        <!-- Timeline -->
        <section id="timeline">
            <div class="container">
                <div class="row mb-5">
                    <div class="col-lg-12 text-center">
                        <h2 class="section-heading text-uppercase">Timeline</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <ul class="timeline">
                            <li class="timeline-image">
                                <div class="timeline-image">
                                    <h4>
                                        <a href="#contact" class="text-white">
                                            Be part<br>
                                            of my<br>
                                            story!
                                        </a>
                                    </h4>
                                </div>
                            </li>
                            {{#timeline}}
                            {{#inverted}}
                            <li class="timeline-inverted">
                            {{/inverted}}
                            {{^inverted}}
                            <li>
                            {{/inverted}}
                                <div class="timeline-image">
                                    {{#image}}
                                    <img class="rounded-circle img-fluid" src="static/img/timeline/{{image}}" alt="">
                                    {{/image}}
                                </div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4>{{year}}</h4>
                                        <h4 class="subheading">{{title}}</h4>
                                    </div>
                                    <div class="timeline-body">
                                        <p class="text-muted">{{{descr}}}</p>
                                    </div>
                                </div>
                            </li>
                            {{/timeline}}
                        </ul>
                    </div>
                </div>
            </div>
        </section>

        <hr>
        <!-- Contact Section -->
        <section id="contact">
            <div class="container">
                <h2 class="text-center text-uppercase text-secondary mb-5">Contact Me</h2>
                <div class="row">
                    <div class="col-lg-6 mx-auto text-center">
                        Feel free to reach out to me at <a href="mailto:giacomo.parmeggiani@gmail.com">giacomo.parmeggiani@gmail.com</a>
                    </div>
                </div>
                <div class="text-center mt-4">
                    <a class="btn btn-xl btn-outline-primary" href="mailto:giacomo.parmeggiani@gmail.com?subject=CV%20Request&body=Please%20explain%20here%20why%20you%20are%20reaching%20out.%20Thanks%20in%20advance">
                        <i class="fas fa-download mr-2"></i>
                        Request my CV
                    </a>
                </div>
            </div>
        </section>

        {{> partials/footer }}
        <script src="/vendor/typed.js/typed.min.js"></script>
        <script>
            //Typed in the header
            new Typed('.typed', {
              strings: ["I'm Giacomo", "I'm a software developer", "I'm a Hardware designer", "I'm in love with technology", "I'm passionate about what I do", "I'm a maker"],
              typeSpeed: 80,
              startDelay: 1200,
               backSpeed: 50,
               // time before backspacing
              backDelay: 2000,
              loop:true,
              showCursor: true,
              cursorChar: "|",
              smartBackspace: false
            });
        </script>
        {{> partials/common_js }}
    </body>
</html>
