<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <meta name="description" content="Software and Hardware engineer. M.Sc at Polimi, Summer school at Stanford, B.Sc at Polimi"/>
        <meta name="author" content="Giacomo Parmeggiani"/>

        <link type="text/plain" rel="author" href="humans.txt"/>

        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
        <link rel="icon" href="/favicon.ico" type="image/x-icon"/>

        <link rel="canonical" href="https://www.giacomoparmeggiani.com"/>

        <title>Giacomo Parmeggiani</title>

        {{> partials/common_css }}
    </head>
    <body id="page-top" class="home">
        {{> partials/navigation_home }}

        <!-- Header section -->
        <header class="masthead text-center">
            <div class="container">
                <img class="myself img-fluid mb-5 d-block mx-auto" src="{{#afh}}/img/giacomo.jpg{{/afh}}" alt="">
                <h1 class="text-uppercase mb-0">
                    Hello!<br>
                    <span class="typed"></span>
                </h1>
                <hr>
                <h2 class="font-weight-light mb-0">Software and Hardware engineer</h2>
                <div class="row">
                    <div class="col-lg-6 mx-auto text-center">
                        Let's get in touch! <a href="mailto:giacomo.parmeggiani@gmail.com">giacomo.parmeggiani@gmail.com</a>
                    </div>
                </div>
            </div>
        </header>



        {{> partials/footer }}

        {{> partials/common_js }}
        <script src="{{#afh}}/js/typed.min.js{{/afh}}"></script>
        <script>
            new Typed('.typed', {
              strings: ["I'm Giacomo", "I'm a software developer", "I'm a Hardware designer", "I love technology", "I build things", "I'm obsessed with learning", "I'm a maker"],
              typeSpeed: 80,
              startDelay: 1200,
              backSpeed: 50,
              backDelay: 2000,
              loop:true,
              showCursor: true,
              cursorChar: "|",
              smartBackspace: false
            });
        </script>
    </body>
</html>
