<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="{{descr}}"/>
        <meta name="author" content="Giacomo Parmeggiani">

        <title>{{title}}</title>

        {{> partials/common_css }}
    </head>
    <body id="page-top">

        {{> partials/navigation }}

        Content here

        {{> partials/common_js }}

    </body>
</html>
