<script src="{{#afh}}/js/jquery.min.js{{/afh}}"></script>
<script src="{{#afh}}/js/bootstrap.bundle.min.js{{/afh}}"></script>
<script src="{{#afh}}/js/jquery.easing.min.js{{/afh}}"></script>

<script src="{{#afh}}/js/freelancer.min.js{{/afh}}"></script>
