<p>
    The H2020 5G-PPP Project named <a href="http://5g-coral.eu/">5G-CORAL</a> is a EU funded research project which involves several european and taiwanese partners. It proposes a multi-tier architecture for the edge and fog computing.<br>
    At Azcom Technology, I was responsible for the design and development (hardware and software) of the connected cars demo, in partnership with TIM (Telecom Italia).<br>
    In the video below, I briefly describe the testbed architecture and show one of the field trials we did at TIM lab in Torino.
</p>

<div class="text-center">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/5e8OWrCYPpQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<p>
    While working on the project requirements, I collaborated to the IEEE paper "<a href="https://ieeexplore.ieee.org/document/8436927">An Integrated, Virtualized Joint Edge and Fog Computing System with Multi-RAT Convergence</a>".
</p>