<p>
    During my summer session at Stanford University, my class team and I came up with the initial idea of BeSpecular: an app to help blind people. After leaving California, once back to Milan to
    continue my studies at the Politecnico di Milano University, I continued working on the project and, together with Stephanie Cowper, launched it in 2016 at the American Council of the Blind
    in Minneapolis.
</p>
<p>
    The way the app works is pretty simple. When you sign up you need to decide if your account is for a sighted (or, how we call them, sightling) or for a VIP, which stands for
    Visually Impaired Person.<br>
    If you use the app as a VIP, you can take a picture of something you need help with, let's say a box of choccolates. You can take more than one picture, so that you are sure
    you include the details you need: maybe you might want to take pictures from different angles or sides of the object. Then you can either type your request, or record a vocal message,
    which, in our example, could be "Hello, could you please tell me if these choccolates are expired?"<br>
    The request is then sent to our community of helpers that will get a notification and, if available, pick up the request and reply with either a vocal or a text message.<br>
</p>
<div class="card-group mt-5 mb-5">
  <div class="card">
    <img class="card-img-top" src="/img/portfolio/bespecular_stanford_team.jpg" alt="The BeSpecular's original team at Stanford">
    <div class="card-footer">
      <small class="text-muted">The BeSpecular's original team at Stanford</small>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="/img/portfolio/bespecular_stanford_park.jpg" alt="The BeSpecular's original team and the teachers of the Technology Entrepreneurship class at Stanford">
    <div class="card-footer">
      <small class="text-muted">The BeSpecular's original team and the teachers of the Technology Entrepreneurship class at Stanford</small>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="/img/portfolio/bespecular_users.png" alt="Our users around the world. VIP: Visually Impaired Person, S: Sighted">
    <div class="card-footer">
      <small class="text-muted">Our users around the world. VIP: Visually Impaired Person, S: Sighted</small>
    </div>
  </div>
</div>
<p>
    Being the only "technical guy" in the team, I developed the entire system. This has been my first large scale project, since before then I've always worked on
    personal projects that were never published.<br>
    I first designed and developed the backend, including the database structure, the REST API, the frontend website and the back-office administration panel.
    I also developed both the iOS and Android applications.
</p>
<div class="card-group mt-5 mb-5">
  <div class="card">
    <img class="card-img-top" src="/img/portfolio/bespecular_acb.jpg" alt="American Council of the Blind, Minneapolis 2016">
    <div class="card-footer">
      <small class="text-muted">American Council of the Blind, Minneapolis 2016</small>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="/img/portfolio/bespecular_TC.jpg" alt="TechCrunch Disrupt, London 2014">
    <div class="card-footer">
      <small class="text-muted">TechCrunch Disrupt, London 2014</small>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="/img/portfolio/bespecular_striscia.jpg" alt="Interview on Striscia la Notizia, a popular italian TV show. Italy, 2016">
    <div class="card-footer">
      <small class="text-muted">Interview on Striscia la Notizia, a popular italian TV show. Italy, 2016</small>
    </div>
  </div>
</div>
<p>
    For more info about the project, please visit <a href="https://www.bespecular.com">www.bespecular.com</a>
</p>
