<p>
	During my Bachelor's degree my friend Giacomo Petracca and I decided to build some of the circuits we studied in class. The first one we build was a (bulky) class A amplifier, and it has been the first non trivial circuit I have ever designed and not just built or modified. Hearing the music coming out of the loudspeaker connected to it was a big satisfaction!
</p>