<p>
    2015 was the year of <a href="https://en.wikipedia.org/wiki/Expo_2015">Expo</a> in Milan.<br>
    After a few weeks, my friend Davide Trezzi and I came up with the idea of letting the visitors rank the pavillions using a
    friendly and fun-to-use user interface. We decided to use the ELO ranking system, which is the same algorithm that
    Mark Zuckerberg used for his facemash.com, as described in the movie "The Social Network".
</p>
<div class="text-center">
    <figure class="figure">
        <img src="/static/img/portfolio/expomash.png" class="figure-img img-fluid rounded" alt="A screenshot of the Expomash.com website in 2015">
        <figcaption class="figure-caption">A screenshot of the Expomash.com website in 2015</figcaption>
    </figure>
</div>
<p>
    The website consisted of a webpage where two pavillions where put side to side and the user had to click on the preferred one. After doing that, a new match
    between two other random pavillions would appear, making it a never ending game.
</p>
<p>
    I developed the web application so that the new match and the related images where loaded and cached while the user was still deciding between the
    two pavillions visible on the screen, so that the next match loaded in basically no time.<br>
    This caused the users to stick to the website for a long time and play several tens of matches.
</p>
<p>
    In the short lifetime of the website, we had 80.000+ matches being played. Several pavillions published posts on their social media with the goal of making their
    name climb the ranking page.<br>
    Currently the website is offline, however you can read the following articles that were published online (unfortunately, only in italian):
</p>
<ul>
    <li><a href="https://www.ilpost.it/2015/07/09/expo-mash-il-sito-per-confrontare-i-padiglioni/">Il Post: Expomash, il sito per confrontare i padiglioni</a></li>
    <li><a href="http://www.milanotoday.it/cronaca/expo-2015/expomash-expoAdvisor.html">MilanoToday: Orientarsi in Expo con Expomash e ExpoAdvisor</a></li>
    <li><a href="http://www.smartweek.it/expomash-qual-e-il-tuo-padiglione-preferito/">SmartWeek: EXPOMASH: QUAL È IL TUO PADIGLIONE PREFERITO?</a></li>
</ul>
