<p>
	A Joule Thief is a circuit used to elevate a small DC voltage to a much higher AC voltage. Compared to the classic circuit, the one I built has been modified in order to power a small neon lamp instead of a LED. The neon lamp requires about 160V to ionize the gas it contains and therefore to produce light. Since this voltage cannot be present across the Collector and the Emitter pins of the BJT without burning it, I had to make a little modification to the transformer, adding to it an additional winding connected directly to the neon lamp. This way the voltage will rise both across the neon lamp and the C and E of the transistor, but at two different rates, according to the respective number of loops of the two windings. The voltage across the neon lamp will reach the required 160V before the VCE reaches the breakdown voltage. This circuit fascinates me because it is a boost DC DC converter that also oscillates by itself, exploiting the nonlinearity of the magnetic core
</p>