<p>
    This is one of my favorite pictures of when I was a kid. That is me showing my mother a simple circuit I built. I guess that was to show the difference between two lamps connected in series or parallel. In fact, the two at the back of the picture are connected in series and are less bright than the closest one, which is connected in parallel to the other two. 
</p>
    <div class="row">
        <div class="col-lg-5 mx-auto text-center">
            <div class="card-group mt-5 mb-5">
            <div class="card">
                <img class="card-img-top" src="{{#afh}}/img/portfolio/me-4-years-old.jpg{{/afh}}" alt="Myself as a kid showing a circuit I built">
                <div class="card-footer">
                    <small class="text-muted">Myself as a kid showing a circuit I built</small>
                </div>
            </div>
        </div>
    </div>
</div>
