<p>
My thesis work consisted in the design, creation and test of the readout electronics for a digital sensor for X-ray radiography using organic pixels.
It consists of a matrix of pixels, each having a photodetector and an addressing diode, both fabricated by only using soluble processed conductors,
insulators and semiconductors deposited by an InkJet machine. Thanks to the peculiar deposition process that allows to operate at almost room temperature,
this technology is well suited to plastic substrates, thus targeting lightweight, flexible and non-fragile electronic devices and systems.
</p>
<figure class="figure">
  <img src="/img/portfolio/thesis-readout.jpg" class="figure-img img-fluid rounded" alt="The readout circuit I built to read the signals from the matrix. The matrix is mounted on its holder">
  <figcaption class="figure-caption">The readout circuit I built to read the signals from the matrix. The matrix is mounted on its holder</figcaption>
</figure>
<figure class="figure">
  <img src="/img/portfolio/thesis-organic-matrix.jpg" class="figure-img img-fluid rounded" alt="A test 6x6 matrix made with organic devices">
  <figcaption class="figure-caption">A test 6x6 matrix made with organic devices</figcaption>
</figure>
<figure class="figure">
  <img src="/img/portfolio/thesis-transfercurve-no-calibration.png" class="figure-img img-fluid rounded" alt="Transfer curve prior to calibration">
  <figcaption class="figure-caption">Transfer curve prior to calibration</figcaption>
</figure>
<figure class="figure">
  <img src="/img/portfolio/thesis-transfercurve-calibrated.png" class="figure-img img-fluid rounded" alt="Transfer curve after calibration">
  <figcaption class="figure-caption">
      Transfer curve after calibration.<br>
      It is very linear and the noise starts to become an issue for charges less than ~15fC
  </figcaption>
</figure>
