Here I add more info on the Win32 project

-summary and bullet points of what i'll be adding next

- Encrypt / decrypt reverse engineering and a way to crack the algorithm. Try to leave it archive agnostic

- Patching of the ccbl compiler without mentioning the fact that it is CCBL (I'm afraid of microfocus)
