.footer {
  padding-top: 5rem;
  padding-bottom: 2rem;
  background-image: url("/img/rock.jpg");
  background-size: cover;
  background-position: center;
  color: $white;
}

.copyright {
    margin-top: 3rem;
}
